.hero {
    height: 100vh;
    background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
}

/* LEFT SIDE */
.hero-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    line-height: 1.1;
}

.hero-left h2 {
    display: flex;
    color: #090909;
    font-size: 26px;
    font-weight: 600;
}

.hero-left p {
    display: flex;
    color: #171717;
    font-size: 100px;
    font-weight: 700;
}

/* Hand icon row */
.hero-hand-icon {
    display: flex;
    align-items: center;
    gap: 20px;
}

.hero-hand-icon img {
    width: 70px;
}

/* Button */
.hero-latest-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 260px;
    height: 60px;
    border-radius: 50px;
    margin-top: 30px;
    background-color: #ff4141;
    color: white;
    font-size: 20px;
    font-weight: 500;
}



.hero-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
